[Desktop Entry]
Type=Application
Name=S3 Desktop Manager
GenericName=S3 Client
Comment=Manage S3 buckets and objects
Exec=s3dm
Icon=s3dm
Terminal=false
Categories=Utility;Network;FileTransfer;
Keywords=S3;AWS;Storage;Cloud;
StartupNotify=true
